<div class="col-xs-12 col-sm-12">
	<div class="page-header">
		<h1>Equipe</h1>
	</div>
	<div class="clearfix row" style="margin-top:10px;" ng-repeat="colaborador in equipe">
		<div class="col-sm-3">
			<img ng-src="{{colaborador.imagem}}" align="left" width="150px" height="150px;" class="img-circle">
		</div>
		<div class="col-sm-9">
		    <h4>{{colaborador.nome}}</h4>
		    <p align="justify">{{colaborador.descricao}}</p>
		</div>
	</div>
</div>
<style type="text/css">
body{
	background-color: #FFF;
	color: #463621;
}
</style>