<div class="col-xs-12 col-sm-12">
	<div class="page-header">
		<h1>Apresentação</h1>
	</div>
	<div class="col-sm-4">
		<img data-holder-rendered="true" src="/onpage/app/images/pic00.jpg" style="width: 200px; height: 200px;" data-src="/onpage/app/images/pic00.jpg" class="img-thumbnail" alt="200x200" align="left">
	</div>
	<div class="col-sm-8">
		<p align="justify">
			&nbsp;&nbsp;&nbsp;Intermediar é um grupo de psicólogos, psicopedagogos, psicomotricistas estudantes e pedagogos, voltados ao acompanhamento da criança que apresente comportamentos que interfiram negativamente em suas aprendizagens e relacionamentos. O acompanhamento ocorre na escola, podendo incluir-se também, os demais espaços sociais e de aprendizagem por onde a criança circula.
		</p>
		<p align="justify">
			&nbsp;&nbsp;&nbsp;O grupo de mediação escolar também oferece consultoria em inclusão, cursos de mediação, equipe de material adaptado, grupo de estudos, aulas particulares, supervisão, recrutamento e seleção de mediadores, indicação para pais e escola, atendimento psicológico, psicopedagógico, acompanhamento terapêutico e grupo na internet para socialização de materiais e estudos. 
		</p>
		<a class="btn btn-default" href="objetivos" role="button">Veja Nossos objetivos »</a>
	</div>
</div>
<style type="text/css">
body{
	/*background-color: #F7ED50;*/
	color: #463621;
}
</style>