<div class="col-xs-12 col-sm-12">
	<div class="page-header">
		<h1>Quem Somos</h1>
	</div>
	<div class="col-sm-12">
		<p align="justify">
			Somos um grupo de psicólogos e pedagogos especializados no acompanhamento educacional, social e psicológico de crianças com necessidades educacionais especiais.

			Nossa atuação se dá com o acompanhamento lado a lado com a criança, em todos os espaços escolares e sociais por onde ela circula.

			Objetivamos desenvolver a capacidade de aprendizagem e de interação afetiva da criança com as demais, a professora e os pais.

			Visamos potencializar, também, seu autocuidado, autoestima e fortalecer as bases para o seu desenvolvimento.

			Nosso grupo de trabalho reune-se semanalmente, ocasião em que os casos atendidos por cada profissional recebem as contribuições dos demais profissionais.  
		</p>
	</div>
	<div class="col-sm-12">
		<img data-holder-rendered="true" src="/onpage/app/images/folder.jpg" style="width: 500px;margin:0 auto; float:none;" data-src="/onpage/app/images/pic00.jpg" class="img-thumbnail" alt="200x200" align="left">
	</div>
</div>
<style type="text/css">
body{
	background-color: #FFF;
	color: #463621;
}
</style>
